{% load static %}

<!DOCTYPE html>
<!--[if IE 9]>         <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>VFlix | Login/Signup</title>

        <meta name="description" content="ProUI is a Responsive Bootstrap Admin Template created by pixelcave and published on Themeforest.">
        <meta name="author" content="pixelcave">
        <meta name="robots" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">

        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        <link rel="shortcut icon" href="{%static 'front/img/favicon.png'%}">
        <link rel="apple-touch-icon" href="{%static 'front/img/icon57.png'%}" sizes="57x57">
        <link rel="apple-touch-icon" href="{%static 'front/img/icon72.png'%}" sizes="72x72">
        <link rel="apple-touch-icon" href="{%static 'front/img/icon76.png'%}" sizes="76x76">
        <link rel="apple-touch-icon" href="{%static 'front/img/icon114.png'%}" sizes="114x114">
        <link rel="apple-touch-icon" href="{%static 'front/img/icon120.png'%}" sizes="120x120">
        <link rel="apple-touch-icon" href="{%static 'front/img/icon144.png'%}" sizes="144x144">
        <link rel="apple-touch-icon" href="{%static 'front/img/icon152.png'%}" sizes="152x152">
        <link rel="apple-touch-icon" href="{%static 'front/img/icon180.png'%}" sizes="180x180">
        <!-- END Icons -->

        <!-- Stylesheets -->
        <!-- Bootstrap is included in its original form, unaltered -->
        <link rel="stylesheet" href="{%static 'front/css/bootstrap.min.css'%}">

        <!-- Related styles of various icon packs and plugins -->
        <link rel="stylesheet" href="{%static 'front/css/plugins.css'%}">

        <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
        <link rel="stylesheet" href="{%static 'front/css/main.css'%}">

        <!-- Include a specific file here from css/themes/ folder to alter the default theme of the template -->

        <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
        <link rel="stylesheet" href="{%static 'front/css/themes.css'%}">
        <!-- END Stylesheets -->

        <!-- Modernizr (browser feature detection library) -->
        <script src="{%static 'front/js/vendor/modernizr.min.js'%}"></script>
    </head>
    <body>
        <!-- Login Full frontground -->
        <!-- For best results use an image with a resolution of 1280x1280 pixels (prefer a blurred image for smaller file size) -->
        <img src="{%static 'front/img/placeholders/frontgrounds/login_full_bg.jpg'%}" alt="Login Full frontground" class="full-bg animation-pulseSlow">
        <!-- END Login Full frontground -->

        <!-- Login Container -->
        <div id="login-container" class="animation-fadeIn">
            <!-- Login Title -->
            <div class="login-title text-center">
                <h1><i class="gi gi-flash"></i> <strong>VFlix</strong><br><small>Please <strong>Login</strong> or <strong>Signup</strong></small></h1>
            </div>
            <!-- END Login Title -->

            <!-- Login Block -->
            <div class="block push-bit">
                <!-- Login Form -->
                <form action="{% url 'enter' %}" method="post" id="form-login" class="form-horizontal form-bordered form-control-borderless">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="gi gi-envelope"></i></span>
                                <input type="text" name="uname" class="form-control input-lg" placeholder="Username">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="gi gi-asterisk"></i></span>
                                <input type="password" name="passw" class="form-control input-lg" placeholder="Password">
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-actions">
                        <div class="col-xs-8 text-right">
                            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Login to Dashboard</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 text-center">
                            <a href="javascript:void(0)" id="link-register-login"><small>Create a new account</small></a>
                        </div>
                    </div>
                </form>


                <form action="{% url 'signup' %}" method="post" id="form-register" class="form-horizontal form-bordered form-control-borderless display-none">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="col-xs-6">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="gi gi-user"></i></span>
                                <input type="text" id="register-firstname" name="name" class="form-control input-lg" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <input type="text" id="register-lastname" name="uname" class="form-control input-lg" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="gi gi-envelope"></i></span>
                                <input type="text" id="register-email" name="email" class="form-control input-lg" placeholder="Email">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="gi gi-asterisk"></i></span>
                                <input type="password" id="register-password" name="passw" class="form-control input-lg" placeholder="Password">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="gi gi-asterisk"></i></span>
                                <input type="password" id="register-password-verify" name="vpass" class="form-control input-lg" placeholder="Verify Password">
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-actions">
                        <div class="col-xs-6 text-right">
                            <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-plus"></i> Register Account</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 text-center">
                            <small>Do you have an account?</small> <a href="javascript:void(0)" id="link-register"><small>Login</small></a>
                        </div>
                    </div>
                </form>

            </div>

        </div>


        <script src="{%static 'front/js/vendor/jquery.min.js'%}"></script>
        <script src="{%static 'front/js/vendor/bootstrap.min.js'%}"></script>
        <script src="{%static 'front/js/plugins.js'%}"></script>
        <script src="{%static 'front/js/app.js'%}"></script>

        <script src="{%static 'front/js/pages/login.js'%}"></script>
        <script>$(function(){ Login.init(); });</script>
    </body>
</html>