{%extends 'front/master.html'%}
{%load static%}

{% block title %}
    <title>VFlix | Suggested Movies</title>        
{% endblock %}

{% block subtitle %}
    <div class="block-title">
        <h2><strong>Movies suggested for you based on your watched list</strong></h2>
    </div>
{% endblock %}

{% block mainblock %}
<!-- All Orders Content -->
<table id="ecom-orders" class="table table-bordered table-striped table-vcenter">
    <thead>
        <tr>
            <th class="text-center" style="width: 10px;">Rank</th>
            <th class="text-center">Title</th>
            <th class="text-center">Genre</th>
            <th class="text-center">Description</th>
            <th class="text-center">Director(s)</th>
            <th class="text-center">Actors</th>
            <th class="text-center">Year</th>
            <th class="text-center">Rating</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    {% for x in movies %}
        <tr>
            <td class="text-center">{{x.1}}</td>
            <td class="text-center">{{x.2}}</td>
            <td class="text-center">{{x.3}}</td>
            <td class="text-center">{{x.4}}</td>
            <td class="text-center">{{x.5}}</td>
            <td class="text-center">{{x.6}}</td>
            <td class="text-center">{{x.7}}</td>
            <td class="text-center">{{x.8}}</td>
            <td><a href="{% url 'add_movie' rank=x.1 var=1 %}" class="btn btn-alt btn-info" title="add to watched movies list"><i class="fa fa-plus"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>

{% endblock %}